/*  general styling  */
/*===================*/
html, body {
  height: 100%;
}
.container, .row.justify-content-center.align-items-center {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}	
body {
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}
h2, h3, h4 {
	font-weight: lighter;
}



/*  view 1 styling  */
/*==================*/
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.view-1 {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
	background-position: center top;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	max-height: 100%;
}
#logo {
	font-family: 'Oswald', sans-serif;
	font-size: 85px;
	color: ghostwhite;
}
.landing-caption {
	color: white;
}
.top-row {
	/*padding-top: 10px;*/
	font-size: smaller;
	color: white;
}
#sign-out {
	display: none;
}
#sign-in-status-container {
	display: none;
	padding: 10px;
	position: absolute;
}
#signInButton {
	/*margin-top: 10px;*/
	background-color: transparent;
	color: white;
	border: 2px solid white;
}
#signInButton:hover {
	text-decoration: underline;	
	cursor: pointer;
}
#signInButtonContainer {
	padding-top: 10px
}

/*  view 2 styling  */
/*==================*/

/*view 2 won't show until a search has been submitted*/
.view-2 {
	display: none;
	padding: 10px 50px;
	/*margin: 0 20px;*/
	background-color: white;
	min-width: 100%;
}
.section-header {
	margin: 20px;
}
.deal-img {
	max-height: 150px;
	width: auto;
}
.card {
	border: none;
	font-size: smaller;
	/*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);*/
	-webkit-box-shadow: 1px 2px 10px 0px rgba(107,107,107,1);
	-moz-box-shadow: 1px 2px 10px 0px rgba(107,107,107,1);
	box-shadow: 1px 2px 10px 0px rgba(107,107,107,1);
}
.card-block {
	padding: 18px;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

.unsaved {
	max-width: 14px;
	height: auto;
}

/*  scrollToTop button styling  */
/*==============================*/

.scrollToTop {
	widows: 7px;0px; 
	height:65px;
	width: 35px;
	padding-top:5px; 
	text-align:center; 
	background-color: transparent;
	font-weight: bold;
	text-decoration: none;
	position:fixed;
	bottom:50px;
	right:10px;
	display:none;
	border-radius: 10px;
	/*background: url("../images/chevron_up.png") no-repeat 0px 20px;*/
}
.scrollToTop-icons {
	width: 28px;
	height: auto;
}
.scrollToTop:hover {
	text-decoration:none;
	background-color: #6b6b6b;
}

/* Footer Styling  */
/* ================*/
.footer {
	background: #444;
	padding-top: 15px;
	/*padding-bottom: 10px;*/
	font-size: smaller;
	height: 50px;
}	
