/*  general styling  */
/*===================*/
html, body {
  height: 100%;
}
.container, .row.justify-content-center.align-items-center {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}	
body {
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}
h2, h3, h4 {
	font-weight: lighter;
}



/*  view 1 styling  */
/*==================*/
.view-1 {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/bar-restaurant.jpg);
	background-position: center top;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#logo {
	font-family: 'Oswald', sans-serif;
	font-size: 80px;
	color: ghostwhite;
}
.landing-caption {
	color: white;
}
.top-row {
	font-size: smaller;
	color: white;
}
#sign-out {
	display: none;
}
#sign-in-status-container {
	padding: 10px;
	position: absolute;
}
#signInButton {
	/*margin-top: 10px;*/
	background-color: transparent;
	color: white;
}
#signInButton:hover {
	text-decoration: underline;	
	cursor: pointer;
}

/*  view 2 styling  */
/*==================*/

/*view 2 won't show until a search has been submitted*/
.view-2 {
	display: none;
	padding: 10px 20px;
	margin: 0 20px;
}
.section-header {
	margin: 20px;
}
.deal-img {
	max-height: 150px;
	width: auto;
}
.card {
	margin: 10px 7px;
	border: none;
	font-size: smaller;
	/*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);*/
	-webkit-box-shadow: 1px 2px 10px 0px rgba(107,107,107,1);
	-moz-box-shadow: 1px 2px 10px 0px rgba(107,107,107,1);
	box-shadow: 1px 2px 10px 0px rgba(107,107,107,1);
}
.card-block {
	padding: 18px;
}

/*.scrollToTop-icons {
	max-width: 100%;
	height:auto;
}*/

/*  scrollToTop button styling  */
/*==============================*/

.scrollToTop {
	widows: 7px;0px; 
	height:70px;
	width: 40px;
	padding-top:5px; 
	text-align:center; 
	background-color: transparent;
	font-weight: bold;
	text-decoration: none;
	position:fixed;
	bottom:25px;
	right:15px;
	display:none;
	border-radius: 10px;
	/*background: url("../images/chevron_up.png") no-repeat 0px 20px;*/
}
.scrollToTop-icons {
	width: 28px;
	height: auto;
}
.scrollToTop:hover {
	text-decoration:none;
	background-color: #6b6b6b;
}

/* Footer Styling  */
/* ================*/
.footer {
	background: #444;
	padding: 10px;
	padding-bottom: 10px;
	font-size: smaller;
}	